* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
.bg-grey {
    background: #f7f7f7;
}

section > .padding-set {
    padding: 30px 50px;
}

#banner {
    height: 300px;
    color: #fff;
    text-align: center;
    background: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}
.banner-text {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}
.banner-text h1 {
    font-size: 2.5em;
    font-weight: 500;
}

#nav-bar {
    text-align: center;
}
#nav-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
#nav-bar .container a {
    text-decoration: none;
    color: #444;
    padding: 25px 20px;
    text-transform: uppercase;
}
#nav-bar .container a:nth-child(odd) {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}
#nav-bar .container img {
    height: 75px;
    border: 5px solid #f8f9fa;
    border-radius: 50%;
    margin: 0 80px;
    transform: scale(2.3);
}

#about .section-title {
    font-size: 26px;
    color: #212529;
    font-weight: 500;
    margin-bottom: 20px;
}
#about .container p {
    font-size: 12px;
    color: #444;
    line-height: 1.5;
}

#target {
    padding-left: 11.25rem;
    padding-right: 1.5625rem;
    padding-top: 4.375rem;
    padding-bottom: 1.875rem;
}
#personal-info {
    padding-left: 1.5625rem;
    padding-top: 4.375rem;
    padding-bottom: 1.875rem;
    background-color: #f1f3f5;
}
#personal-info ul {
    list-style: none;
    font-size: 12px;
    color: #444;
    line-height: 2;
    padding-left: 0;
}
#personal-info ul span {
    font-weight: 600;
}

.personal-info-icon {
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
}
.personal-info-icon i {
    color: #4c6ef5;
}

#job-info .container {
    color: #747374;
}
#job-info .row .col:nth-child(odd) .container-content {
    background-color: #ffe3e3;
}
#job-info .row .col:nth-child(even) .container-content {
    background-color: #f1f3f5;
}
#job-info .container-content {
    padding: 20px;
    border: 2px solid #e9ecef;

    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto 1fr;
    align-items: center;
    row-gap: 10px;
}
#job-info .container-content i {
    font-size: 40px;
}
#job-info .container-content .container-item {
    align-self: start;
    grid-column: 1 / -1;
}
#job-info .container-item ul {
    /* text-indent: 15px; */
    padding-left: 20px;
    list-style: disc;
    line-height: 1.5;
    margin-top: 10px;
}
#job-info .job-content-info {
    margin-top: 1.5625rem;
    margin-right: 1.875rem;
}
#job-info .job-content-info .job-time {
    font-style: italic;
    font-size: 14px;
    margin: 0.625rem 0;
}
#job-info .job-content-info .job-time span {
    background-color: #017cff;
    color: #fff;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
}
#job-info .list-favo-icon {
    list-style: none !important;
    margin-top: 20px !important;
    padding-left: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#job-info .list-favo-icon li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#job-info .list-favo-icon li i {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #87e1c2;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#job-info .list-favo-icon li p {
    font-size: 12px;
    margin-top: 5px;
}
#job-info .skill-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}
#job-info .skill-info div {
    height: 8px;
    border: 1px solid #017cff;
    margin: 15px 0;
    border-radius: 10px;
}
.skill-point {
    background-color: #017cff;
}
/* #certificate .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 30px 40px;
} */
#certificate .container h1 {
    grid-column: 1 / -1;
    font-weight: 500;
    margin-top: 10px;
}
#certificate .container img {
    width: 200px;
}
#certificate .container .cer-container-item {
    display: flex;
    column-gap: 25px;
}
#certificate .container .cer-container-item strong {
    font-size: 14px;
    text-transform: uppercase;
    color: #656683;
    display: inline-block;
    margin-bottom: 15px;
}
#certificate .container .cer-container-item p {
    font-size: 13px;
    color: #868e96;
    line-height: 1.8;
}

/* #project .project-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
} */
#project .project-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#project .project-item {
    border: 1px solid #e2e2e2;
}
#project .project-content strong {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 15px 0;
    display: inline-block;
    text-indent: 20px;
}
#project .project-content th,
td {
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    padding: 10px 5px;
}
#project .project-content table,
th,
td {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    border-collapse: collapse;
}
#project .project-content th {
    width: 25%;
}

#footer {
    background-color: #f7f7f7;
    color: #ced4da;
}
#footer li {
    display: flex;
    margin: 0 10px;
    align-items: center;
}
#footer li i {
    color: #34a7de;
    font-size: 25px;
    margin-right: 5px;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    /* section > .padding-set {
        padding: 0;
        margin: 0;
    } */
    .container {
        max-width: 100%;
    }
    #nav-bar .container a {
        font-size: 15px;
        padding: 15px 10px;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
    }
    #job-info .job-content-info {
        margin-right: 0;
    }
}

@media screen and (max-width: 992px) {
    #target {
        padding-left: 4rem;
        padding-right: 2rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    #personal-info {
        padding-left: 4rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
        background-color: #f1f3f5;
    }
}

@media screen and (max-width: 576px) {
    #nav-bar .container a {
        border: none !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #target {
        padding-left: 2rem;
        padding-right: 3rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    #personal-info {
        padding-right: 3rem;
        padding-left: 2rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        background-color: #f1f3f5;
    }
}
